<div class="row">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card mt-1">
      <div class="card-header">
        <h4>Sign Up</h4>
      </div>

      <div class="card-body">
        <form [formGroup]="signUpFrom">

          <div class="form-group form-row" formGroupName="userCredential">
            <label for="userName" class="col-md-4 col-form-label">User Name:</label>
            <div class="col-md-8">
              <input type="text" name="userName" id="userName" placeholder="User Name" class="form-control"
                formControlName="userName"
                [ngClass]="{'is-invalid': signUpFrom.get('userCredential.userName')?.invalid && (signUpFrom.get('userCredential.userName')?.dirty || signUpFrom.get('userCredential.userName')?.touched || signUpFrom.get('userCredential.userName').submitted)}">
            </div>
            <span class="text-danger" *ngIf="signUpFrom.get('userCredential.userName')?.invalid && 
              (signUpFrom.get('userCredential.userName')?.dirty ||
               signUpFrom.get('userCredential.userName')?.touched ||
                signUpFrom.get('userCredential.userName').submitted)">username
              is required</span>
          </div>

          <div class="form-group form-row" formGroupName="userCredential">
            <label for="email" class="col-md-4 col-form-label">Email:</label>
            <div class="col-md-8">
              <input type="text" name="email" id="email" placeholder="email" class="form-control"
                formControlName="email">
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-4 col-form-label">Gender:</label>
            <div class="col-md-8">
              <div class="form-check-label form-check-inline" *ngFor="let gender of genders">
                <input type="radio" name="gender" [id]="gender" [value]="gender" class="form-check-input"
                  formControlName="gender">
                <label [for]="gender" class="form-check-label">{{gender}}</label>
              </div>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="countryID" class="col-md-4 col-form-label">Country:</label>
            <div class="col-md-8">
              <select name="countryID" id="countryID" class="form-control" formControlName="countryId">
                <option value="">Please Select</option>
                <option *ngFor="let country of countries" [value]="country.countryId">
                  {{country.countryName}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-4 col-form-label"></label>
            <div class="col-md-8">
              <input type="checkbox" name="receiveNewsLetters" id="receiveNewsLetters" value="true"
                class="form-check-input" formControlName="receiveNewsLetters">
              <label for="receiveNewsLetters" class="form-check-label">Receive News Letters</label>
            </div>
          </div>

        </form>

        {{signUpFrom.value | json}}
      </div>

    </div>
  </div>
</div>