<h1>Projects</h1>
<div class="row">
  <div class="col-8 mx-auto">
    <div class="form-group form-row">
      <!-- <label for="drpSearchBy" class="col-form-label">Filter:</label> -->
      <div class="col-3">
        <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="filterBy">
          <option value="">--Filter by</option>
          <option value="ProjectName">Project Name</option>
          <option value="Date">Date of Start</option>
        </select>
      </div>
      <div class="col-3">
        <div class="input-group">
          <input type="text" class="form-control" id="txtSearchText" name="SearchText" [(ngModel)]="filterValue" />
          <div class="input-group-append" (click)="onFilterClick()">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group form-row"> -->
    <!-- <label for="textSearchText" class="col-form-label">Value:</label> -->

    <!-- </div> -->
  </div>
  <div class="col-8 mx-auto">
    <button class="btn btn-primary my-3" data-toggle="modal" data-target="#newModal">Create Project</button>
  </div>
  <!-- <div class="col-8 mx-auto">
    <table class="table">
      <thead>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Date of Start</th>
        <th>Team Size</th>
        <th>Client Location</th>
        <th>Status</th>
        <th>Operation</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; let i = index">
          <td>{{project.projectId}}</td>
          <td>{{project.projectName}}</td>
          <td>{{project.dateOfStart}}</td>
          <td>{{project.teamSize}}</td>
          <td>{{project.clientLocation.clientLocationName}}</td>
          <td [ngClass]="{red: project.status === 'In Force'}">{{project.status}}</td>
          <td><button class="btn btn-info mx-1" (click)="onEditClickX($event, i)" data-toggle="modal"
              data-target="#editModal">
              Edit
            </button>
            <button class="btn btn-danger mx-1" (click)="onDeleteClickX($event, i)" data-toggle="modal"
              data-target="#deleteModal">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="col-xl-12 mx-auto">
    <div class="row">

      <div class="col-md-4" *ngFor="let project of projects; let i = index">
        <app-project [currentProject]="project" [recordIndex]="i" (editClick)="onEditClickX($event, i)"
          (deleteClick)="onDeleteClickX($event, i)"></app-project>
      </div>

    </div>
  </div>
</div>

<!-- create project -->
<form #createForm="ngForm">
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title">New Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <!-- <div class="form-group row">
            <label for="txtNewProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="number" id="txtNewProjectID" style="width:100px" class="form-control" placeholder="Project ID"
                name="ProjectID" [(ngModel)]="newProject.projectID">
            </div>
          </div> -->

          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectName" name="ProjectName" class="form-control"
                placeholder="Project Name" [(ngModel)]="createProject.projectName" #newProjName="ngModel"
                required="required" minlength="4" maxlength="10"
                [ngClass]="{'is-invalid': newProjName.invalid && (newProjName.dirty || newProjName.touched || createForm.submitted),
                                  'is-valid': newProjName.valid && (newProjName.dirty || newProjName.touched || createForm.submitted)}">

              <span class="text-danger"
                *ngIf="newProjName.invalid && (newProjName.dirty || newProjName.touched || createForm.submitted) && newProjName.errors!['required']">Project
                Name is Required</span>
              <span class="text-danger"
                *ngIf="newProjName.invalid && (newProjName.dirty || newProjName.touched || createForm.submitted) && newProjName.errors!['minlength']">Min
                length violation</span>
              <span class="text-danger"
                *ngIf="newProjName.invalid && (newProjName.dirty || newProjName.touched || createForm.submitted) && newProjName.errors!['maxlength']">Max
                length violation</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="txtNewDateOfStart" style="width:150px" class="form-control"
                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="createProject.dateOfStart">
            </div>
          </div>

          <div class="form-group row">
            <label for="txtTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="number" id="txtTeamSize" style="width:150px" class="form-control" placeholder="Team Size"
                name="TeamSize" [(ngModel)]="createProject.teamSize">
            </div>
          </div>

          <div class="form-group row">
            <label for="col-sm-4 col-form-label">&nbsp;</label>
            <div class="col-sm-8">
              <div class="form-check">
                <input type="checkbox" id="chkNewActive" value="true" class="form-check-input"
                  [(ngModel)]="createProject.active" name="active">
                <label class="form-check-label" for="chkNewActive">Active</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="rbNewStatusInForce" class="col-sm-4">Status</label>
            <div class="col-sm-8">

              <div class="form-check form-check-inline">
                <input type="radio" id="rbNewStatusInForce" value="In Force" class="form-check-input" name="Status"
                  [(ngModel)]="createProject.status">
                <label for="rbNewStatusInForce" class="form-check-label">In Force</label>
              </div>

              <div class="form-check form-check-inline">
                <input type="radio" id="rbNewStatusSupport" value="Support" class="form-check-input" name="Status"
                  [(ngModel)]="createProject.status">
                <label for="rbNewStatusSupport" class="form-check-label">Support</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="drpNewClientLocation" class="col-sm-4 col-form-label">Client Location</label>
            <div class="col-sm-8">
              <select id="drpNewClientLocation" class="form-control" name="ClientLocation"
                [(ngModel)]="createProject.clientLocationID">
                <option selected value="">Please Select</option>
                <option *ngFor="let clientLocation of clientLocations" [value]="clientLocation.clientLocationID">
                  {{clientLocation.clientLocationName}}
                </option>
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" id="newCreateProjectBtn" (click)="onCreateProject()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Edit Project -->
<form #editFrom="ngForm">
  <div class="modal" role="dialog" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 700px">
        <div class="modal-header">
          <div class="modal-title">Edit Project</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtEditProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="number" id="txtEditProjectID" style="width: 100px" class="form-control-plain-text"
                placeholder="Project ID" name="ProjectID" [(ngModel)]="projectForEdit.projectId" disabled="disabled" />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtEditProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtEditProjectName" class="form-control" placeholder="Project Name"
                name="ProjectName" [(ngModel)]="projectForEdit.projectName" #myInput="ngModel" required="required" />
            </div>
            <span class="text-danger" *ngIf="myInput.invalid && 
                                            (myInput.dirty || myInput.touched || editFrom.submitted) &&
                                            myInput.errors!['required']">la la la</span>
          </div>

          <div class="form-group row">
            <label for="txtEditDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="txtEditDateOfStart" style="width: 150px" class="form-control"
                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="projectForEdit.dateOfStart" />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtEditTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="number" id="txtEditTeamSize" style="width: 150px" class="form-control"
                placeholder="Team Size" name="TeamSize" [(ngModel)]="projectForEdit.teamSize" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button id="zia" class="btn btn-success" data-dismiss="modal" (click)="onEditConfirm()">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Delete Project -->
<form>
  <div class="modal" role="dialog" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 700px">
        <div class="modal-header">
          <div class="modal-title">Delete Project</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtDeleteProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="number" id="txtDeleteProjectID" style="width: 100px" class="form-control-plain-text"
                placeholder="Project ID" name="ProjectID" [(ngModel)]="projectForDelete.projectId"
                disabled="disabled" />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtDeleteProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtDeleteProjectName" class="form-control" placeholder="Project Name"
                name="ProjectName" [(ngModel)]="projectForDelete.projectName" disabled="disabled" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" data-dismiss="modal" (click)="onDeleteConfirm()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</form>